@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
/*Animacion*/
.animacion {
  width: 100px;
  margin-left: 0;
  padding-left: 4vw;
  transition: 6s; }
  .animacion img {
    max-height: 100px;
    max-width: 100px; }

.animacion:hover {
  margin-left: 60vw; }

/*Nav Bar*/
.nav-item--inicio {
  background-color: #f7deef; }

.nav-item--nosotrxs {
  background-color: #efbddf; }

.nav-item--adopta {
  background-color: #ecacd5; }

.nav-item--tienda {
  background-color: #e89cce; }

.nav-item--contacto {
  background-color: #e07bbe; }

/*Inicio*/
.main__titulo {
  padding-left: 4vw;
  margin-bottom: 5vh; }
  .main__titulo h1 {
    color: #e079be;
    font-family: "Merriweather", serif; }

.main__contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding-left: 50px;
  padding-right: 50px; }
  .main__contenido p span {
    font-weight: bolder; }
  .main__contenido h2 {
    color: cadetblue; }

/*Nosotrxs*/
div.nosotrxs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center; }
  div.nosotrxs h2 {
    padding-left: 10vw;
    color: #e079be; }
  div.nosotrxs .nosotrxs__imagenes {
    margin-top: 2vh;
    display: flex;
    flex-direction: row; }
    div.nosotrxs .nosotrxs__imagenes .nosotrxs__imagenes__crew {
      max-width: 57vw;
      padding-left: 3vw; }
    div.nosotrxs .nosotrxs__imagenes .nosotrxs__imagenes__logo {
      max-width: 37vw;
      padding-right: 2vw;
      padding-left: 3vw; }
  div.nosotrxs .nosotrxs__descripcion {
    max-width: 90vw; }
    div.nosotrxs .nosotrxs__descripcion p {
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 50px;
      margin-bottom: 50px; }

/*Adopta*/
.adopta {
  display: block;
  margin-top: 2vh; }
  .adopta h2 {
    color: #e079be;
    margin-bottom: 5vh;
    padding-left: 10vw; }
  .adopta .adopta__filaUno {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 92vw;
    padding-left: 4vw;
    margin-top: 3vh;
    margin-bottom: 2vh; }
    .adopta .adopta__filaUno img {
      max-width: 23vw;
      transition: 1s; }
    .adopta .adopta__filaUno img:hover {
      transform: scale(1.1, 1.1); }
  .adopta ol.adopta__nombres {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5vh;
    padding-left: 2vw; }
  .adopta .adopta__filaDos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 6vw;
    max-width: 88vw;
    margin-bottom: 2vh; }
    .adopta .adopta__filaDos img {
      max-width: 22vw;
      transition: 1s; }
    .adopta .adopta__filaDos img:hover {
      transform: scale(1.1, 1.1); }

div.banner {
  max-width: 100vw;
  overflow: hidden;
  max-height: 8vh;
  opacity: 0.6; }

/*Tienda*/
.tienda__inicio h2 {
  color: #e079be;
  padding-left: 10vw; }

.tienda__productos span {
  font-weight: bold; }

/*Contacto*/
.contacto h2, .familiasFelices__titulo h2 {
  padding-left: 8vw;
  color: #e079be;
  margin-bottom: 2vh; }

.familiasFelices {
  margin-top: 4vh;
  margin-bottom: 4vh; }

.familiasFelices__titulo {
  margin-bottom: 5vh; }

.familiasFelices__fotos {
  display: flex;
  flex-direction: row;
  width: 96vw;
  margin: auto; }
  .familiasFelices__fotos img {
    max-width: 12vw;
    margin: auto;
    padding: 0; }

@media only screen and (max-width: 480px) {
  /*Inicio*/
  .main__imagenes {
    max-width: 340px;
    display: block; }
    .main__imagenes img.show1 {
      margin-left: 30px;
      box-shadow: 8px 8px 5px grey; }
    .main__imagenes img.noShow {
      display: none; }
    .main__imagenes img.show2 {
      display: none; }
  /*Nosotrxs*/
  div.nosotrxs__carrousel {
    width: 90vw;
    padding-left: 10vw;
    margin-left: 5vw; }
  /*Adopta*/
  li.adopta__nombres {
    list-style-type: none;
    font-family: "Merriweather", serif;
    font-size: 4vw; }
  div.banner {
    max-height: 8vh; }
  .requisitos {
    margin-top: 6vh; }
    .requisitos .requisitos__p1 {
      max-width: 90vw;
      margin-left: 10vw;
      padding-right: 2vw;
      padding-left: 8vw; }
      .requisitos .requisitos__p1 p {
        font-weight: bold; }
    .requisitos .requisitos__p2 {
      max-width: 90vw;
      background-color: #ffcccb;
      opacity: 0.5;
      padding-left: 1vw;
      margin-left: 0;
      margin-right: 10vw; }
  /*Tienda*/
  .tienda__inicio__logo {
    display: flex;
    flex-direction: column;
    padding-left: 2vw; }
    .tienda__inicio__logo img {
      max-width: 50vw;
      max-height: 40vh; }
    .tienda__inicio__logo p {
      width: 88vw;
      margin-left: 17vw;
      padding-right: 5vw;
      padding-left: 2vw;
      color: black;
      background-color: #e079be;
      opacity: 0.6; }
  .tienda__productos {
    margin: auto;
    max-width: 98vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .tienda__productos div.card {
      max-width: 10rem; }
      .tienda__productos div.card img {
        margin: auto;
        max-width: 30vw; }
  /*Footer*/
  .footer {
    display: flex;
    flex-direction: row;
    margin-top: 8vh;
    border-color: #e079be;
    border-style: double;
    border-width: 4px 0px 0px 0px;
    width: 100vw;
    justify-content: space-between; }
    .footer .footer__desc {
      display: none; }
    .footer ul {
      margin-top: 4vh;
      list-style: none; }
      .footer ul li {
        text-decoration: none; }
    .footer .footer__logo {
      display: none; }
    .footer div {
      margin-left: 10vw; }
      .footer div h2 {
        color: #e079be; }
      .footer div p {
        padding-left: 0px; }
      .footer div img {
        max-width: 20vw; } }

@media only screen and (min-width: 481px) and (max-width: 770px) {
  /*Inicio*/
  .main__imagenes {
    max-width: 620px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 50px; }
    .main__imagenes img {
      box-shadow: 8px 8px 5px grey; }
    .main__imagenes img.show2 {
      margin-left: 20px; }
    .main__imagenes img.noShow {
      display: none; }
  /*Nosotrxs*/
  .nosotrxs__carrousel {
    width: 90vw;
    margin-bottom: 8vh;
    margin-left: 5vw; }
  /*Adopta*/
  li.adopta__nombres {
    list-style-type: none;
    font-family: "Merriweather", serif;
    font-size: 2vw; }
  div.banner {
    max-height: 10vh; }
  .requisitos {
    margin-top: 10vh; }
    .requisitos .requisitos__p1 {
      max-width: 90vw;
      margin-left: 10vw;
      padding-right: 2vw;
      padding-left: 8vw; }
      .requisitos .requisitos__p1 p {
        font-weight: bold; }
    .requisitos .requisitos__p2 {
      max-width: 90vw;
      background-color: #ffcccb;
      opacity: 0.6;
      padding-left: 1vw;
      margin-left: 0;
      margin-right: 10vw; }
  /*Tienda*/
  .tienda__inicio__logo {
    display: flex;
    flex-direction: column;
    padding-left: 2vw; }
    .tienda__inicio__logo img {
      max-width: 50vw;
      max-height: 40vh; }
    .tienda__inicio__logo p {
      width: 88vw;
      margin-left: 17vw;
      padding-right: 5vw;
      padding-left: 2vw;
      color: black;
      background-color: #e079be;
      opacity: 0.6; }
  .tienda__productos {
    max-width: 98vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .tienda__productos div.card img {
      margin: auto;
      max-width: 30vw; }
  .footer {
    display: flex;
    flex-direction: row;
    margin-top: 8vh;
    border-color: #e079be;
    border-style: double;
    border-width: 4px 0px 0px 0px;
    width: 100vw;
    justify-content: space-between; }
    .footer .footer__desc {
      display: none; }
    .footer ul {
      margin-top: 4vh;
      list-style: none; }
      .footer ul li {
        text-decoration: none; }
    .footer .footer__logo {
      display: none; }
    .footer div {
      margin-left: 10vw; }
      .footer div h2 {
        color: #e079be; }
      .footer div p {
        padding-left: 0px; }
      .footer div img {
        max-width: 20vw; } }

@media only screen and (min-width: 770px) and (max-width: 1024px) {
  #tituloDisplay {
    display: none; }
  /*Inicio*/
  .main__imagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; }
    .main__imagenes img {
      margin-left: 50px;
      box-shadow: 10px 10px 5px grey; }
    .main__imagenes img.noShow {
      display: none; }
  /*Nosotrxs*/
  .nosotrxs__carrousel {
    width: 70vw;
    margin-bottom: 8vh;
    margin-left: 15vw; }
  /*Adopta*/
  li.adopta__nombres {
    list-style-type: none;
    font-family: "Merriweather", serif;
    font-size: 2vw; }
  .requisitos {
    margin-top: 10vh; }
    .requisitos .requisitos__p1 {
      max-width: 75vw;
      margin-right: 23vw;
      padding-left: 2vw; }
      .requisitos .requisitos__p1 p {
        font-weight: bold; }
    .requisitos .requisitos__p2 {
      max-width: 85vw;
      background-color: #ffcccb;
      opacity: 0.6;
      margin-left: 15vw;
      margin-right: 0;
      padding-right: 15vw;
      padding-left: 0; }
    .requisitos p {
      font-size: 2vw; }
  /*Tienda*/
  .tienda__inicio__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2vw; }
    .tienda__inicio__logo img {
      max-width: 35vw; }
    .tienda__inicio__logo p {
      margin-top: 10vh;
      margin-bottom: 6vh;
      width: 60vw;
      max-height: 30vh;
      color: black;
      background-color: #e079be;
      opacity: 0.6;
      padding-right: 20vw;
      padding-left: 2vw;
      padding-top: 2vh; }
  .tienda__productos {
    max-width: 98vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .tienda__productos div.card img {
      max-width: 12vw;
      margin: auto; }
  /*Contacto*/
  .contacto__form {
    max-width: 57vw;
    padding-left: 2vw;
    margin-left: 0;
    margin-right: 0;
    max-height: 500px; }
  /*Footer*/
  .footer {
    display: flex;
    flex-direction: row;
    margin-top: 8vh;
    border-color: #e079be;
    border-style: double;
    border-width: 4px 0px 0px 0px;
    width: 100vw; }
    .footer p {
      margin-top: 4vh;
      padding-left: 4vw;
      width: 20vw; }
    .footer ul {
      margin-top: 3vh;
      list-style: none; }
      .footer ul li {
        margin-bottom: 2vh; }
        .footer ul li a {
          text-decoration: none; }
    .footer img {
      max-width: 20vw;
      max-height: 180px;
      padding-left: 1vw; }
    .footer div {
      margin-left: 3vw;
      margin-top: 3vh;
      padding-right: 2vw; }
      .footer div h2 {
        color: #e079be; }
      .footer div p {
        padding-left: 0px; } }

@media only screen and (min-width: 1025px) {
  #tituloDisplay {
    display: none; }
  /*Inicio*/
  .main__imagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; }
    .main__imagenes img {
      box-shadow: 10px 10px 5px grey; }
  /*Nosotrxs*/
  .nosotrxs__carrousel {
    width: 70vw;
    height: 90vh;
    margin-bottom: 8vh;
    margin-left: 15vw; }
  /*Adopta*/
  li.adopta__nombres {
    list-style-type: none;
    font-family: "Merriweather", serif;
    font-size: 2vw; }
  .requisitos {
    margin-top: 10vh; }
    .requisitos .requisitos__p1 {
      max-width: 75vw;
      margin-right: 23vw;
      padding-left: 2vw;
      margin-bottom: 5vh; }
      .requisitos .requisitos__p1 p {
        font-weight: bold; }
    .requisitos .requisitos__p2 {
      max-width: 85vw;
      background-color: #ffcccb;
      opacity: 0.6;
      margin-left: 15vw;
      margin-right: 0;
      padding-right: 15vw;
      padding-left: 0.5vw; }
    .requisitos p {
      font-size: 1.5vw; }
  /*Tienda*/
  .tienda__inicio__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2vw; }
    .tienda__inicio__logo img {
      max-width: 30vw; }
    .tienda__inicio__logo p {
      margin-top: 10vh;
      margin-bottom: 6vh;
      width: 60vw;
      max-height: 20vh;
      color: black;
      background-color: #e079be;
      opacity: 0.6;
      padding-right: 20vw;
      padding-left: 2vw;
      padding-top: 2vh; }
  .tienda__productos {
    max-width: 98vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .tienda__productos div.card img {
      margin: auto;
      max-width: 12vw; }
  /*Footer*/
  .footer {
    display: flex;
    flex-direction: row;
    margin-top: 8vh;
    border-color: #e079be;
    border-style: double;
    border-width: 4px 0px 0px 0px;
    width: 97vw;
    margin-left: 1vw; }
    .footer .footer__desc {
      margin-top: 4vh;
      margin-left: 2vw;
      width: 20vw; }
    .footer img {
      max-width: 20vw;
      max-height: 200px;
      padding-left: 2vw; }
    .footer ul {
      margin-left: 15vw;
      margin-top: 3vh;
      list-style: none; }
      .footer ul li {
        margin-bottom: 2vh; }
        .footer ul li a {
          text-decoration: none; }
    .footer div {
      margin-top: 3vh;
      margin-left: 8vw;
      padding-right: 2vw; }
      .footer div h2 {
        color: #e079be; }
      .footer div img {
        max-width: 20vw; } }
