@import "fonts";


$li_font: 'Merriweather', serif;
$h2-color: rgb(224, 121, 190);

p, h1, h2, h5, a, li, label {
    font-family: $li_font;    
}

/*Animacion*/

.animacion {
    
    width: 100px; 
    margin-left: 0; 
    padding-left: 4vw;  
    transition: 6s;
      
    img {
        max-height: 100px;
        max-width: 100px;
    }
}
.animacion:hover {
    margin-left: 60vw;
}
/*Nav Bar*/

.navbar {
    background-color: #f7e5f1;
}


/*Inicio*/
.main__titulo {
    h1 {
        color: cadetblue;
        font-family: $li_font;
               
    }
    padding-left: 4vw;
    margin-bottom: 5vh;
}

.main__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding-left: 50px;
    padding-right: 50px;

    p {
        span {
            font-weight: bolder;
        }
    }

    h2 {
        color:cadetblue;
    }
}

/*Nosotros*/

div.nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    h2 {
        padding-left: 10vw;
        color: cadetblue;
    }
    .nosotros__imagenes {
        margin-top: 2vh;
        display:flex;
        flex-direction: row;
        
        .nosotros__imagenes__crew {
            max-width: 57vw;
            padding-left: 3vw;
            
        }
        .nosotros__imagenes__logo {
            max-width: 37vw;
            padding-right: 2vw;
            padding-left: 3vw;
        }
        
    }
    
    

    .nosotros__descripcion {
        max-width: 90vw;
        p {
            padding-left: 30px;
            padding-right: 30px;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
}
/*Adopta*/

.adopta {
    display: block;
    margin-top: 2vh; 
    h2 {
        color: cadetblue;
        margin-bottom: 5vh;
        padding-left: 10vw;
    }
    .card-group {
        margin: auto;
        width: 96vw;
        justify-content: space-between;
        img {
            margin: auto;
            transition: 1s;
        }
        img:hover {
            transform:scale(1.1,1.1);
        }
        h5 {
            margin:auto;
            text-align: center;
        }  
    }
    .uno img {
        max-width: 22vw;
            
    }
    
    .dos img {
        max-width: 16vw;
        
    }
    
}

div.banner {
    max-width: 100vw;
    overflow: hidden;
    max-height: 8vh;
    opacity: 0.6;
}


/*Tienda*/
.tienda__inicio {
    h2 {
        color: cadetblue;
        padding-left: 10vw;
    }
}
.tienda__productos {
    span {
        font-weight: bold;
    }
}




/*Contacto*/

.contacto {
    h2 {
        padding-left: 8vw;
        color: cadetblue;
        margin-bottom: 2vh;
    }
}


@mixin sizes($width) {
    max-width: $width;
    margin: auto;
    padding: 0;
}
.familiasFelices {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.familiasFelices__titulo {
    @extend .contacto;
    margin-bottom: 5vh;
}

.familiasFelices__fotos {
    
    display:flex;
    flex-direction: row;
    width: 96vw;
    margin:auto;
    img {
        @include sizes(12vw);
    }
    
}

/*Footer*/

.footer {
    display: flex;
    flex-direction: row;
    margin-top: 6vh;
    background-color: #f7e5f1;
    
    
    ul {
        margin-top: 3vh;
        list-style: none;
        li {
            margin-bottom: 1vh;
            a {
            text-decoration: none;
            }
        }
    }
}


@media only screen and (max-width: 480px){
    /*Inicio*/
    .main__imagenes {
        max-width: 96vw;
        display: block;
        margin-left: 2vw;
        .perro_1 {         
            box-shadow:  8px 8px 5px grey;
            margin-left: 5vw;
        }
        .gatos  {
            display: none;
        }   
        .perro_2 {
            display: none;
        }
         
    }
    /*Nosotros*/
    
    div.nosotros__carrousel {
        width:90vw;
        padding-left: 10vw;
        margin-left: 5vw;
    }
   
    /*Adopta*/

    
    div.banner {
        max-height: 8vh;
    }

    .card-group {
        margin: auto;
        width: 96vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        img {
            margin: auto;
            transition: 1s;
        }
        img:hover {
            transform:scale(1.1,1.1);
        }
        h5 {
            margin:auto;
            text-align: center;
            font-size: 0.75rem;
        }  
    }
    .uno img {
        max-width: 20vw;
    }
    .dos img {
        max-width: 20vw;
    }

    .requisitos {
        margin-top: 6vh;
    
        .requisitos__p1 {
            max-width: 90vw;
            margin-left: 10vw;  
            padding-right: 2vw; 
            padding-left: 8vw;         
            p { font-weight: bold; }
            
        }
        .requisitos__p2 {
            max-width: 90vw;
            background-color: #ffcccb;
            opacity: 0.5;
            padding-left: 1vw;
            margin-left: 0;
            margin-right: 10vw;
        }
       
    }
    /*Tienda*/

    .tienda__inicio__logo {
        display:flex;
        flex-direction: column;
        
        padding-left: 2vw;
        img {
            max-width: 50vw;
            max-height: 40vh;
        }
        p {
            width: 88vw;
            margin: auto;
            padding-right: 5vw;
            padding-left: 2vw;
            color: black;
            background-color: $h2-color;
            opacity: 0.6;
        }
    }
    .tienda__productos {
        margin-top: 5vh;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        div.card {
            max-width: 40vw;
            img {
                margin: auto;
                max-width: 30vw;
            }
        }
        
    }

    /*Footer*/
    .footer {
        width: 100%;
        justify-content: space-between; 
        .footer__desc {
            display: none;
        }
          
        .footer__logo {
            display: none;
            
        }
        div {
            margin-left: 10vw;
            padding-top: 3vh;
            h2 {
                color: $h2-color;
            }
            p {
                padding-left: 0px;
            }
            img {
                max-width: 20vw;
            }
        }  
    }
    
}

@media only screen and (min-width: 481px) and (max-width:770px){
    /*Inicio*/
    .main__imagenes {
        max-width: 94vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin-left: 5vw;

        img {
            box-shadow:  8px 8px 5px grey;
            max-width: 40vw;
        }
        .perro_2 {
            margin: auto;
        }

        .gatos {
            display: none;
        }
         
    }
    /*Nosotros*/
    .nosotros__carrousel {
        width: 90vw;
        margin-bottom: 8vh;
        margin-left: 5vw;

    }

    /*Adopta*/
    .card-group {
        margin: auto;
        width: 96vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        img {
            margin: auto;
            transition: 1s;
        }
        img:hover {
            transform:scale(1.1,1.1);
        }
        h5 {
            margin:auto;
            text-align: center;
            font-size: 0.75rem;
        }  
    }
    .uno img {
        max-width: 22vw;
    }
    .dos img {
        max-width: 20vw;
    }

    
    div.banner {
        max-height: 10vh;
    }
    .requisitos {
        margin-top: 10vh;
    
        .requisitos__p1 {
            max-width: 90vw;
            margin-left: 10vw;  
            padding-right: 2vw; 
            padding-left: 8vw;         
            p { font-weight: bold; }
            
        }
        .requisitos__p2 {
            max-width: 90vw;
            background-color: #ffcccb;
            opacity: 0.6;
            padding-left: 1vw;
            margin-left: 0;
            margin-right: 10vw;
        }
       
    }
    /*Tienda*/
    .tienda__inicio__logo {
        display:flex;
        flex-direction: column;
        
        padding-left: 2vw;
        img {
            max-width: 50vw;
            max-height: 40vh;
        }
        p {
            width: 88vw;
            margin-left: 17vw;
            padding-right: 5vw;
            padding-left: 2vw;
            color: black;
            background-color: $h2-color;
            opacity: 0.6;
        }
    }
    
    .tienda__productos {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        div.card {
            max-width: 30vw;
            img {
                margin: auto;
                max-width: 30vw;
            }
        }
        
    }
    /*Footer*/
    
    .footer {
        
        width: 100%;
        justify-content: space-between;
        margin-left: 1vw;
        .footer__desc {
            display: none;
        }
        
   
        .footer__logo {
            display: none;
            
        }
        div {
            margin-left: 10vw;
            padding-top: 3vh;
            h2 {
                color: $h2-color;
            }
            p {
                padding-left: 0px;
            }
            img {
                max-width: 20vw;
            }
        }  
    }
        
    
    
}

@media only screen and (min-width:770px) and (max-width: 1024px) {
    #tituloDisplay {
        display: none;
    }

    /*Inicio*/    
    .main__imagenes {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        img {
            margin-left: 50px;
            box-shadow:  10px 10px 5px grey;
        }
        .gatos  {
            display: none;
        }
        
         
    }

    
    /*Nosotros*/
    .nosotros__carrousel {
        width: 70vw;
        margin-bottom: 8vh;
        margin-left: 15vw;

    }
   
    /*Adopta*/

    
    .requisitos {
        margin-top: 10vh;
    
        .requisitos__p1 {
            max-width: 75vw;
            margin-right: 23vw;
            padding-left: 2vw;            
            p { font-weight: bold;}
            
        }
        .requisitos__p2 {
            max-width: 85vw;
            background-color: #ffcccb;
            opacity: 0.6;
            margin-left: 15vw;
            margin-right: 0;
            padding-right: 15vw;
            padding-left: 0;
            
        }
        
       
    }

    /*Tienda*/

    .tienda__inicio__logo {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 2vw;
        
        img {
            max-width: 35vw;
            
        }
        p {
            margin-top: 10vh;
            margin-bottom: 6vh;
            width: 60vw;
            max-height: 30vh;
            color: black;
            background-color: $h2-color;
            opacity: 0.6;
            padding-right: 20vw;
            padding-left: 2vw;
            padding-top: 2vh;
        }
    }
    .tienda__productos {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        div.card {
            max-width: 20vw;
            img {
                max-width: 12vw;
                margin: auto;
            }
        }
        
    }

    /*Contacto*/

    .contacto__form {
        max-width: 57vw;
        padding-left: 2vw;
        margin-left: 0;
        margin-right: 0;
        max-height: 500px;
    }

    /*Footer*/
    .footer {
        width: 100%;
        
        p {
            margin-top: 4vh;
            padding-left: 4vw;
            width: 20vw;
        }
        
   
        img {
            max-width: 20vw;
            max-height: 180px;
            padding-left: 1vw;
        
        }
        div {
            margin-left: 8vw;
            margin-top: 3vh;
            padding-right: 2vw;
            h2 {
                color: $h2-color;
            }
            p {
                padding-left: 0px;
            }
        }  
    }
}

@media only screen and (min-width:1025px){
    #tituloDisplay {
        display: none;
    }
    /*Inicio*/
    .main__imagenes {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
       
        img {
            box-shadow:  10px 10px 5px grey;
        }
         
    }

    /*Nosotros*/

    .nosotros__carrousel {
        width: 70vw;
        height: 90vh;
        margin-bottom: 8vh;
        margin-left: 15vw;


    }
   

    /*Adopta*/
    
    .requisitos {
        margin-top: 10vh;
    
        .requisitos__p1 {
            max-width: 75vw;
            margin-right: 23vw;
            padding-left: 2vw;            
            p { font-weight: bold;}
            margin-bottom: 5vh;
            
        }
        
        .requisitos__p2 {
            max-width: 85vw;
            background-color: #ffcccb;
            opacity: 0.6;
            margin-left: 15vw;
            margin-right: 0;
            padding-right: 15vw;
            padding-left: 0.5vw;
            
        }
        
       
    }
    /*Tienda*/
    .tienda__inicio__logo {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 2vw;
        
        img {
            max-width: 30vw;
            
        }
        p {
            margin-top: 10vh;
            margin-bottom: 6vh;
            width: 60vw;
            max-height: 20vh;
            color: black;
            background-color: $h2-color;
            opacity: 0.6;
            padding-right: 20vw;
            padding-left: 2vw;
            padding-top: 2vh;
            font-size: 0.95rem;
        }
    }
    .tienda__productos {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        div.card {
            max-width: 20vw;
            img {
                margin:auto;
                max-width: 12vw;
            }
        }
        
        
    }
        
    /*Footer*/
    .footer {
        width: 100%;
       
        .footer__desc {
            margin-top: 4vh;
            margin-left: 2vw;
            width: 20vw;
        }
        img {
            max-width: 20vw;
            max-height: 200px;
            
        }
        ul {
            margin-left: 17vw;
            
        }
   
        
        div {
            margin-top: 3vh;
            margin-left: 10vw;
            padding-right: 2vw;
            max-width: 21vw;
            h2 {
                color: $h2-color;
                margin-bottom: 0px;
            }
       
            img {
                max-width: 20vw;
            }

        }
    }

    
}
